

/*----------------------------------------------------------------------------
BASE
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*----------------------------------------------------------------------------
ELEMENTS-BASE
----------------------------------------------------------------------------*/

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;

    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


/*----------------------------------------------------------------------------
ELEMENTS
----------------------------------------------------------------------------*/

/* texte */

h1{
    font-family: "Dosis", sans-serif;
    font-size: 44px;
    font-weight: bold;
    
    margin:0;
}

h2{
    font-family: "Dosis", sans-serif;
    font-size: 36px;
    font-weight: bold;

    margin:0;

    color:white;
}

h3{
    font-family: "Roboto", sans-serif;
    font-size: 20px;

    margin-top:10px;
    margin-bottom: 0;

    color:#2FCB48;
}

h4{
    font-family: "Dosis", sans-serif;
    font-size: 24px;
    font-weight: bold;

    margin: 0px;
}


/* header */
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:20px 0;
}


.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width:286px;
}

nav a{
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    font-weight: bold;

    padding:8px;
    border-radius: 5px;

    text-transform: uppercase;
    color:black;
}

nav a:hover{
    color:white;
    background-color: #0E5EA1;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width:448px;
}

/* hero */

.hero{
    background-image: url(/images/montagnes-alpes.jpg);
    background-repeat: none;
    background-size: cover;

    padding: 166px 412px;
}


.hero .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .contenu{
    padding: 20px 20px;

    text-align: center;

    background-color:rgb(0 0 0 / 70%);
    border-radius: 10px;
}

/* contenu */

/* section*/ .contenu{ 
    background-color: #e3e4e4;
}

div .places{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;

    padding-top: 40px;
}

.places article{
    padding:10px;
    background-color: white;
    border-bottom: #0E5EA1 solid 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    line-height: 160%;
}

.places img{
    margin-bottom: 32px;
}


.places a{
    text-transform: uppercase;
    color:black;
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    font-weight: bold;
    width:140px;
    text-align: center;

    padding:8px;
    border-radius: 5px;

    background-color: #B7B7B7;  
}

.places a:hover{
    background-color: #0E5EA1;
    color:white;
}

.banniere{
    margin-bottom: 40px;
    margin-top: 40px;
}

/* footer */

footer{
    background-color: black;
    color:white;
    text-align: center;

    padding: 10px; 
    /* *jsp pquoi c'est necessaire? (mettre en commentaire pour voir le probleme que ca fait sinon) */
}
